<index:>
    {{on _page.refreshTable}}
        {{unbound}}
            <table as="table" id="{{entity.id}}" class="table table-condensed table-hover compact" width="100%">
                <thead>
                    <tr>
                        <th data-orderable="false"></th> <!-- for the child row expansion -->
                        {{each entity.attributes as #col}}
                            <th>{{t($locale, entity.id + '.' + #col.id)}}</th>
                        {{/each}}

                        <!-- the Action column is "all"-ways visible -->
                        <th class="all" data-orderable="false" data-width="30">{{t($locale, 'actions.title')}}</th>
                    </tr>
                </thead>

                <tbody>
                    {{each _page.items as #item, #index}}
                        {{bound}}
                            <tr id="{{#item.id}}" class="{{if #item === _page.item}}active selected {{/}}no-text-selection" on-click="select(#item.id)">
                                <td></td> <!-- for the child row expansion -->
                                {{each entity.attributes as #col}}
                                    <td>
                                        {{if #col.type == "entity"}}
                                            {{each #item[#col.id] as #subitem}}  <!-- each of the entity items -->
                                                {{if typeof #subitem.name === 'object'}}
                                                    {{#subitem.name[l($locale)]}}
                                                    {{each #subitem.name}}          <!-- works because each only iterates through arrays -->
                                                        {{this.name}} &sp;
                                                    {{/}}
                                                {{else}}
                                                    {{#subitem.name}}
                                                {{/}}
                                                <br>
                                            {{/}}
                                        {{else}}
                                            {{if typeof #item[#col.id] === 'object'}}
                                                {{#item[#col.id][l($locale)]}}
                                            {{else}}
                                                {{#item[#col.id]}}
                                            {{/}}
                                        {{/}}
                                    </td>
                                {{/each}}
                                <td>
                                    <span class="glyphicon glyphicon-remove" on-click="remove(#item.id, $event)"></span>
                                </td>
                            </tr>
                        {{/bound}}
                    {{/each}}
                </tbody>
            </table>
        {{/unbound}}
    {{/on}}

    {{if _page.item}}
        <legend>
            {{if _page.item.id}}
                {{t($locale, 'actions.edit')}} {{t($locale, entity.id + '.one')}}
            {{else}}
                {{t($locale, 'actions.add')}} {{t($locale, entity.id + '.one')}}
            {{/}}
        </legend>

        <form as="form" role="form" class="well form-horizontal" on-submit="done(this, $event)">
            {{each entity.attributes as #field}}
                {{if #field.type == "entity"}}
                    <fieldgroup id="{{#field.id}}" label="{{t($locale, entity.id + '.' + #field.id)}}">
                        <!-- * this item could be a new item, so we cannot check for name being an object
                             * each entity has to have a name attribute
                             * if entity-of-text is given, text path is a path in that entity
                        -->
                        <d-select2 id="{{#field.id}}" class="form-control" fixed
                                   obj key="id" text="{{(_page.entities[#field.entity]).attributes.name.i18n ? 'name.' + l($locale) : 'name'}}"
                                   items="{{_page[#field.entity]}}" value="{{_page.item[#field.id]}}" />
                   </fieldgroup>
                {{else if #field.i18n}}
                    {{each $locale.supported as #loc}}
                        <fieldgroup id="{{#field.id}}.{{#loc}}" label="{{t($locale, entity.id + '.' + #field.id)}} ({{#loc}})"
                               type="{{#field.type}}" value="{{_page.item[#field.id][#loc]}}">
                        </fieldgroup>
                    {{/}}
                {{else}}
                    <fieldgroup id="{{#field.id}}" label="{{t($locale, entity.id + '.' + #field.id)}}"
                           type="{{#field.type}}" value="{{_page.item[#field.id]}}">
                    </fieldgroup>
                {{/}}
            {{/each}}

            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">
                            {{if _page.item.id}}
                                {{t($locale, 'actions.done')}}
                            {{else}}
                                {{t($locale, 'actions.add')}}
                            {{/}}
                        </button>

                        {{unless _page.item.id}}
                            &sp;
                            <button type="button" class="btn btn-default" on-click="cancel()">
                                {{t($locale, 'actions.cancel')}}
                            </button>
                        {{/}}
                    </div>
                </div>
            </div>
        </form>
    {{else}}
        <a class="btn btn-primary pull-right" href="{{pathFor(entity.id, 'new')}}" role="button">
            {{ t($locale, 'actions.new', { 'ITEM': t($locale, entity.id + '.one') }) }}
        </a>
    {{/}}



<!-- Arguments: id, label, type, value
-->
<field: element="fieldgroup">
    <div class="form-group">
        <label for="{{@id}}" class="col-sm-2 control-label">
            {{@label}}
        </label>
        <div class="col-md-10">
            {{if @content}}
                {{@content}}
            {{else}}
                <input id="{{@id}}" class="form-control" type="{{@type}}" value="{{@value}}">
            {{/if}}
        </div>
    </div>
