// Import custom Bootstrap variables
@import 'bootstrap-variables';

// Then import the global defaults so that changes cascade
@import 'bootstrap/variables';

@import 'datatables/dataTables.bootstrap.css';
@import 'datatables/dataTables.fontAwesome.css';

@import 'datatables/colReorder.dataTables';
@import 'datatables/responsive.dataTables';

@import 'compass/css3/border-radius';

// Responsive
$open-button-background: #337ab7;    // TODO
$close-button-background: #d33333;

// ColReorder
$colreorder-insert-color: $brand-secondary;

@mixin round-corners() {
    &:first-child {
        @include border-radius($border-radius-base 0 0 $border-radius-base);
    }

    &:last-child {
        @include border-radius(0 $border-radius-base $border-radius-base 0);
    }
}

.entities {
    .animate-selection td {
        transition-property: background-color, color;
        transition-duration: .5s;
        transition-delay: .3s;
    }

    .popover {
        max-width: none;
        white-space: nowrap;

        ul {
            padding-left: 16px;
        }
    }


    table.dataTable span.highlight {
      //background-color: $brand-info;
      background-color: $brand-aux-1-med-light;
    }


    table.dataTable.table-condensed {
        > thead {
            > tr > th {
                @include round-corners();
                border: 0;
                background-color: $brand-primary;

                // sort icons
                padding-right: 5px;

                &.sorting:after,
                &.sorting_asc:after,
                &.sorting_desc:after,
                &.sorting_asc_disabled:after,
                &.sorting_desc_disabled:after {
                    display: inline;
                    position: static;
                    padding-left: 5px;
                }

                &.sorting:after {
                    opacity: 0.5;
                    color: $brand-primary-light;
                }
            }
        }

        // sort columns
        > tbody > tr > td.sorting_1 {
            background-color: #fcf8e3;    // TODO: use variable, darken $brand-primary-light?
        }


        // responsive icons
        &.dtr-column > tbody > tr > th.control,
        &.dtr-column > tbody > tr > td.control {
            width: 12px;

            &:before {
                left: inherit;
                margin-left: -4px;
            }
        }


        > tbody {
            > tr {
                > td {
                    border-top: 1px dotted $brand-primary-light;        // TODO: try opacify() with solid/double
                    border-bottom: 1px dotted $brand-primary;
                }

                &:last-child > td {
                    border-bottom-style: solid;
                }
            }

            > tr:not(.child) {
                // cursor
                > td:not(.actions):not(.dataTables_empty) {
                    cursor: pointer;
                }

                // hover, selected, and round borders

                &:hover,
                &.selected {
                    > td:not(.dataTables_empty) {
                        //border-top: 1px solid $brand-primary-light;    // solid is more specific than dotted
                        border-top: 0 hidden;
                        border-bottom: 1px solid $brand-primary-light;
                        @include round-corners();

                        background-color: $table-bg-selected;
                        color: $brand-primary-light;
                    }
                }

                &:hover > td:not(.dataTables_empty) {
                    background-color: $table-bg-hover;
                }
            }

            > tr.child {
            }
        }
    }
}
