<index:>
    {{on _page.recreateTable}}
        {{unbound}}
            <table as="table" id="{{entity.id}}" class="table table-condensed compact no-text-selection" width="100%">
                <thead>
                    <tr>
                        <th class="respond"></th> <!-- for the child row expansion -->

                        {{each entity.attributes as #col}}
                            <th class="attr">{{t($locale, entity.id + '.' + #col.id)}}</th>
                        {{/each}}

                        <!-- the Action column is "all"-ways visible -->
                        <th class="all actions" data-width="30">{{t($locale, 'actions.title')}}</th>
                    </tr>
                </thead>
            </table>
        {{/}}
    {{/}}

    {{if _page.item}}
        <div class="clearfix"></div>

        <legend>
            {{t($locale, 'actions.edit')}} {{t($locale, entity.id + '.one')}}
        </legend>

        <form as="form" role="form" class="well form-horizontal" on-submit="done(this)">
            {{each entity.attributes as #field}}
                {{if #field.type == "entity"}}
                    <fieldgroup id="{{#field.id}}" label="{{t($locale, entity.id + '.' + #field.id)}}">
                        <!-- * this item could be a new item, so we cannot check for name being an object
                             * each entity has to have a name attribute
                        -->
                        <d-select2 id="select2-{{#field.id}}" class="form-control" fixed
                                   multi="{{#field.multi}}" uniq="{{#field.uniq}}"
                                   entities="{{repository.instance()}}" attribute="{{#field}}" locale="{{l($locale)}}"
                                   value="{{_page.item[#field.id]}}" />
                   </fieldgroup>
                {{else if #field.i18n}}
                    {{each $locale.supported as #loc}}
                        <fieldgroup id="{{#field.id}}_{{#loc}}" label="{{t($locale, entity.id + '.' + #field.id)}} ({{#loc}})"
                               type="{{#field.type}}" value="{{_page.item[#field.id][#loc]}}">
                        </fieldgroup>
                    {{/}}
                {{else}}
                    <fieldgroup id="{{#field.id}}" label="{{t($locale, entity.id + '.' + #field.id)}}"
                           type="{{#field.type}}" value="{{_page.item[#field.id]}}">
                    </fieldgroup>
                {{/}}
            {{/each}}

            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary">{{t($locale, 'actions.done')}}</button>
                    </div>
                </div>
            </div>
        </form>
    {{else}}
        <a class="btn btn-primary pull-right" on-click="add()" role="button">
            {{ t($locale, 'actions.new', { 'ITEM': t($locale, entity.id + '.one') }) }}
        </a>
    {{/}}


    <!-- Modal Dialogs -->

    <modal as="deleteModal" on-close="closeDeleteModal()">
        <title>{{t($locale, 'dialogs.deleteEntityTitle', { 'ENTITY': t($locale, entity.id + '.one') })}}</title>

        {{t($locale, 'messages.deleteEntity', { 'ENTITY': t($locale, entity.id + '.one') })}}
        <p class="text-center">
            <strong>{{repository.getItemAttr(_page.itemToBeDeleted, "name", entity.id, l($locale))}}</strong>
        </p>

        <action name='delete' class="btn-primary" autofocus default>{{t($locale, 'actions.delete')}}</action>
        <action name='cancel'>{{t($locale, 'actions.cancel')}}</action>
    </modal>


<!-- Arguments: id, label, type, value
-->
<field: element="fieldgroup">
    {{with @id as #id}} <!-- BUG in Derby parsing: !$validation.form[@id] doesn't work! -->
        <div class="form-group {{if $validation.form[#id] === false}}has-error{{/}}">
            <label for="{{@id}}" class="col-sm-2 control-label">
                {{@label}}
            </label>
            <div class="col-md-10">
                {{if @content}}
                    {{@content}}
                {{else}}
                    <input id="{{@id}}" class="form-control" type="{{@type}}" value="{{@value}}">
                {{/if}}
            </div>
        </div>
    {{/}}
