<index:>
    <div class="clearfix"></div>

    <legend>
        {{t($locale, 'actions.edit')}} {{t($locale, entity.id + '.one')}}
    </legend>

    <form as="form" role="form" class="well form-horizontal" on-submit="done(this)">
        {{each entity.attributes as #field}}
            {{if #field.i18n}}
                {{each $locale.supported as #loc}}
                    <fieldgroup id="{{#field.id}}_{{#loc}}" label="{{t($locale, entity.id + '.' + #field.id)}} ({{#loc}})">
                        <view name="{{#field.type}}" item="_page.item" attr="{{#field}}" loc="{{#loc}}" />
                    </fieldgroup>
                {{/}}
            {{else}}
                <fieldgroup id="{{#field.id}}" label="{{t($locale, entity.id + '.' + #field.id)}}">
                    <view name="{{#field.type}}" attr="{{#field}}" value="{{_page.item[#field.id]}}" />
                </fieldgroup>
            {{/}}

            <!-- TODO OR: view name="{{types.viewName(#field.type)}}" /-->
        {{/each}}

        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">{{t($locale, 'actions.done')}}</button>
                </div>
            </div>
        </div>
    </form>


<!-- Arguments: id, label, type, value -->
<fieldgroup: element="fieldgroup">
    {{with @id as #id}} <!-- BUG in Derby parsing: "if !$validation.form[@id]" doesn't work! -->
        <div class="form-group {{if $validation.form[#id] === false}}has-error{{/}}">
            <label for="{{@id}}" class="col-sm-2 control-label">
                {{@label}}
            </label>
            <div class="col-md-10">
                {{@content}}
            </div>
        </div>
    {{/}}
