// datatables
@import 'datatables/dataTables.bootstrap.css';
@import 'datatables/dataTables.fontAwesome.css';

// ColReorder
$colreorder-insert-color: $brand-secondary;
@import 'datatables/colReorder.dataTables';

// Responsive
$open-button-color: $brand-primary;
$close-button-color: $brand-primary;
@import 'datatables/responsive.dataTables';


$empty-table: '.dataTables_empty';


.dataTables_wrapper {
    .dt-control {
        display: flex;
        width: 100%;

        //justify-content: space-between; // not needed due to margin-*: auto below
        align-items: center;

        label {
            margin: 0;
        }

        .dataTables_length {
            margin-right: auto;
        }

        .dataTables_filter {
            margin-left: auto;
        }
    }

    .dataTables_paginate {
        float: left;
    }
}


.dataTable {
    > thead > th {
        // sort icons
        padding-right: 5px;

        &.sorting:after,
        &.sorting_asc:after,
        &.sorting_desc:after,
        &.sorting_asc_disabled:after,
        &.sorting_desc_disabled:after {
            display: inline;
            position: static;
            padding-left: 5px;
        }

        &.sorting:after {
            opacity: 0.5;
            color: $brand-primary-light;
        }
    }

    // sort columns
    // > tbody > tr > td.sorting_1 {
    //     background-color: #fcf8e3;    // TODO: use variable, darken $brand-primary-light?
    // }


    // details rows
    > tbody > tr.child > td.child {
        border-top: hidden;
        //background-color: $brand-primary-med-light;
        padding: 0;

        table {
            margin-left: 15px;
            border-collapse: separate;
            border-spacing: 10px;
        }
    }
}
